<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if logged_in? %>
		<h2>Welcome <%= current_user.email %>!</h2>
		<%= button_to "Log Out", sessions_url, :method => :delete %>
	<% else %>
		<h2> Log in <%= link_to "Here!", new_sessions_url %> </h2>
	<% end %>


	<% if flash[:notices] %>
	<ul>
		<% flash[:notices].each do |notice| %>
		<li><%= notice %></li>
		<% end %>
	</ul>
<% end %>
<br>

<%= yield %>

</body>
</html>
